@page "/"
@using VirtualAssistant.Shared.Models
<img src="images/va.PNG" width="200">
<p>Welcome to <strong>Training Development Services!</strong></p>
@if (String.IsNullOrEmpty(NewUser1.FirstName))
{
    <div>
        <p name="hello">Hello, I am Sam. What is your name? </p>
        <input @bind="NewUser1.FirstName" name="hi1" type="text" placeholder="enter first name"/>
    </div>
}
    @if (!String.IsNullOrEmpty(NewUser1.FirstName) && (ShowMenu))
    {
        <div>Hi <strong>@NewUser1.FirstName </strong> and welcome! How can I help you today?</div><br/>
        <MainMenuOptions></MainMenuOptions>
        ShowMenu=false;
    }
    @code
    {
     public User NewUser1 = new User();
     public bool ShowMenu { get; set; } = true;
    }