

@foreach (var item in TheBasket.TrainingMaterialItems)
{
    <th>Description</th>
    <tr>
        <td> - SAQA ID: @item.SaqaId</td>
        <td>Training Material Package</td>
        <td>
            <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteBasketItem(item))"><i class="fas fa-trash" title="Delete" aria-hidden="true"> </i> Remove</button>
        </td>
    </tr>
    
}

