@using VirtualAssistant.Shared.Models
@inject IBasketRepositoryService TBasket

@if (ShowMainMenu)
{
    <button class="btn-info" @onclick="@(() => ShowTrainingMaterial = !ShowTrainingMaterial)">Training Material</button>
    <button class="btn-info" @onclick="@(() => ShowAccreditation = !ShowAccreditation)">Accreditation</button>
    <button class="btn-info" @onclick="@(() => ShowElearning = !ShowElearning)">eLearning</button>
    <button class="btn-info" @onclick="@(() => ShowOther = !ShowOther)">Other</button>
}

@if (ShowTrainingMaterial)
{
    <TrainingMaterial  TheBasket="TBasket"  DisplayAccreditationStatusButtons="true" ShowMainMenu="false" ActiveUser="ActiveUser" ></TrainingMaterial>
    
    ResetState(); 
}
@if (ShowAccreditation)
{
    <p>ShowingAccreditation</p>
    ResetState();
}
@if (ShowElearning)
{
    <p>ShowingElearning</p>
    ResetState();
}
@if (ShowOther)
{
    <p>ShowingOther</p>
    ResetState();
}
