@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
       <NavMenu></NavMenu>
    </div>

    <div class="main">
        <div style="font-size: .8em" class="top-row  align-middle">
            Welcome to our Virtual Assistant Application. <a href="https://www.nqtraining.co.za/index.php?route=information/contact">
                Click here to visit our contact us page.</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
