@using VirtualAssistant.Shared.Models

@if (TheBasket.ShowMainMenu)
{
    <strong>I require assistance with:</strong><br/>

    <button class="btn-info" @onclick="@(() => ShowTrainingMaterial = !ShowTrainingMaterial)">Training Material</button>
    <button class="btn-info" @onclick="@(() => ShowAccreditation = !ShowAccreditation)">Accreditation</button>
    <button class="btn-info" @onclick="@(() => ShowElearning = !ShowElearning)">eLearning</button>
    <button class="btn-info" @onclick="@(() => ShowOther = !ShowOther)">Other</button>
    TheBasket.ShowMainMenu = false;
}

@if (ShowTrainingMaterial)
{
    <TrainingMaterial TheBasket="TheBasket" DisplayAccreditationStatusButtons="true" ActiveUser="ActiveUser"></TrainingMaterial>
    ResetState();
}
@if (ShowAccreditation)
{
    <p>ShowingAccreditation</p>
    ResetState();
}
@if (ShowElearning)
{
    <p>ShowingElearning</p>
    ResetState();
}
@if (ShowOther)
{
    <p>ShowingOther</p>
    ResetState();
}
