@using VirtualAssistant.Shared.Models
@using System.Reflection.Metadata
@using System.Security.Cryptography.X509Certificates

@if (DisplayAccreditationButtons)
{
   
    <p>
        Ok, let me see how I can assist you with your training material needs.
        Is your company already Accredited as a Training Provider? 
        <button class="btn-info" @onclick="@Accredited">Yes</button> <button class="btn-info" @onclick="()=> ActiveUser.Accredited = false">No</button>
    </p>
   
}
